body{
    background-color: #7fffd4;
    text-align: center;
    align-content: center;
}
table{
    width: 90%;
    margin: auto;
}
table,tr,th,td{
    border: 1px solid black;
}
span{
    color: #ff0000;
}
.negro{
    background-color: black;
}
tfoot{
    background-color: #7fff00;
}
.chocolate{
    background-color: #d2691e;
}
.negritas{
    color: black;
    font-weight: bold;
}
.amarillito{
    color: #faff08;
}